@import 'tailwindcss' source('../../../{app,src}/**/*.{jsx,tsx,mdx}');
@plugin '@tailwindcss/typography';
@plugin './hero.ts';
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
